<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dispatch stages</title>
    <link href="./css/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
    <link href="./css/dispatch.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        body {
            color: #4D4D4D;
            font: 10pt arial;
        }
    </style>


    <script src="./js/vis-timeline-graph2d.min.js"></script>
    <script src="js/vis.js"></script>
    <script src="js/arrow.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="js/locales.js"></script>
    <script src="Ctrl/vis.controller.js"></script>
    <script src="Ctrl/timeLine.directive.js"></script>

</head>

<body onresize="/*timeline.checkResize();*/">

<div ng-controller="TimeLineCtrl">

    <input type="date" name="dateStart" ng-model='visDate.start' ng-change="setDate()" value="2021-07-01" >
    <input type="date" name="dateEnd" ng-model='visDate.end' ng-change="setDate()" value="2021-09-30">
    <input id="save" type="button" value="Сохранить изменения" onclick="sendChanges()">
    <input id="order" ng-model='order'><input id="showOrder" type="button" value="Показать" ng-click="setOrder()">


    <!--<vis-network data="data" options="options" height="100%"></vis-network>-->
    <vis-timeline data="data" options="options" events="events"></vis-timeline>

    <script type="text/javascript">

        function setAuthHeader(xhr){
            var creds = Jacob + ':' + lawisdead;
            var basicScheme = btoa(creds);
            var hashStr = "Basic "+basicScheme;
            xhr.setRequestHeader('Authorization', hashStr);
        }

        function sendChanges() {
            $.ajax({
                url: 'http://localhost:8080/saveChanges',
                type: "POST",
                //dataType: "json",
                data: "test",
                contentType : "application/json; charset=utf-8",
                headers: {
                    'Access-Control-Allow-Origin': '*',
                //    'Access-Control-Allow-Methods': 'GET, POST, PATCH, PUT, DELETE, OPTIONS',
                //    'Access-Control-Allow-Headers': 'Origin, Content-Type, X-Auth-Token',
                //    'Access-Control-Allow-Credentials': 'true'
                //    "Authorization": "Basic " + btoa("Jacob:lawisdead")
                },
                success: function (data) {
                    alert('ok');
                },
                error: function (err) {
                    console.log('Error', err);
                    if (err.status === 0) {
                        alert('Failed to load data/basic.json.\nPlease run this example on a server.');
                    } else {
                        alert('Failed to load data/basic.json.');
                    }
                }
                });
        }
    </script>
</div>>

</body>
</html>
